<h1>Commenter information</h1>

<table>

  <tr>
    <th align="left">Name</th>
    <th></th>
    <th align="left">Total Comments</th>
    <th></th>
    <th align="left">Total Posts Commented on</th>
    <th></th>
    <th align="left">Commenter ID</th>
    <th></th>
<COLGROUP>
   <COL width="50">
   <COL width="25">
   <COL width="50">
   <COL width="50">
   <COL width="50">
   <COL width="50">
   <COL width="50">
   <COL width="0*">
<% @commenters.each do |commenter| %>
  <tr>
    <td><%= commenter.name %></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td><%= commenter.id %></td>
    <td><%= link_to 'Destroy', commenter, :confirm=> 'Are you sure?', :method=> :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_commenter_path %>
<br />
<%= link_to 'Proceed to Posts', posts_path %>
